@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?ll5l92');
  src:  url('fonts/icomoon.eot?ll5l92#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?ll5l92') format('truetype'),
    url('fonts/icomoon.woff?ll5l92') format('woff'),
    url('fonts/icomoon.svg?ll5l92#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-price-tag:before {
  content: "\e935";
}
.icon-coin-dollar:before {
  content: "\e93b";
}
.icon-user-tie:before {
  content: "\e976";
}
.icon-truck:before {
  content: "\e9b0";
}
.icon-warning:before {
  content: "\ea07";
}
.icon-mail4:before {
  content: "\ea86";
}
.icon-facebook2:before {
  content: "\ea91";
}
.icon-whatsapp:before {
  content: "\ea93";
}
.icon-twitter:before {
  content: "\ea96";
}
